<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<description>base</description>
	
	<servlet>
		<servlet-name>defaultServlet</servlet-name>
		<servlet-class>java4.fun.controller.DefaultServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>defaultServlet</servlet-name>
		<url-pattern>/default.scwcd</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>lifeCicle</servlet-name>
		<servlet-class>java4.fun.controller.LifeCicle</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>lifeCicle</servlet-name>
		<url-pattern>/lifeCicle</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>usingPost</servlet-name>
		<servlet-class>java4.fun.controller.Post</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>usingPost</servlet-name>
		<url-pattern>/usingPost</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>requestMethods</servlet-name>
		<servlet-class>java4.fun.controller.RequestMethods</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>requestMethods</servlet-name>
		<url-pattern>/requestMethods</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
