<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<description>base</description>
	
	<servlet>
		<servlet-name>forwardServlet</servlet-name>
		<servlet-class>java4.fun.controller.ForwardServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>forwardServlet</servlet-name>
		<url-pattern>/forwardServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>useBean02Servlet</servlet-name>
		<servlet-class>java4.fun.controller.UseBean02Servlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>useBean02Servlet</servlet-name>
		<url-pattern>/useBean02Servlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
